# This file is described here:  https://help.github.com/en/articles/about-code-owners

# Global Owners: These are brigadecore org maintainers + maintainers of this repo
* @brigadecore/maintainers @brigadecore/cron-event-source-maintainers
